<table>
    <td>
        <tr>
            <th width="15%"><fmt:message key="clientList.table.head.id"/></th>
            <th width="15%"><fmt:message key="clientList.table.head.login"/></th>
            <th><fmt:message key="clientList.table.head.contact"/></th>
        </tr>
        <c:forEach var="admin" items="${adminList}">
            <tr>
                <td width="15%">${admin.getId()}</td>
                <td width="15%">${admin.getLogin()}</td>
                <td>${admin.getContact()} </td>
            </tr>
        </c:forEach>
    </td>
</table>
