<%--
  Created by IntelliJ IDEA.
  User: Andrey
  Date: 21.04.2015
  Time: 0:04
  To change this template use File | Settings | File Templates.
--%>

<form name="localeForm" method="POST" action="controller">
    <div class="location">
        <input type="hidden" name="command" value="locale" />
        <input type="hidden" name="currentUrl" value='<%= request.getRequestURI() %>' />
        <select name="locale" id="locale_select">
            <option value="ru" <%= "ru".equals(request.getParameter("locale")) ? "selected" : "" %> >RU</option>
            <option value="en" <%= "en".equals(request.getParameter("locale")) ? "selected" : "" %>>EN</option>
        </select>
        <input class="hidden" type="submit" value="select"/>
    </div>
</form>

