html {
    background-color: lightblue;
    font-family:"courier new";
}
body{
    font-size: 20px;
}

.hints{
    font-family: Verdana;
    display: inline-block;
    font-size: 15px;
    color: lightcoral;
    margin: 0;
}
.errors{
    font-family: Verdana;
    display: inline-block;
     font-size: 10px;
     color: red;
     margin: 0;
 }
#order.errors{
    font-family: Verdana;
    font-size: 25px;
}

#gooddelete{
 font-size: 25px;
}
.success{
    font-family: Verdana;
    display: inline-block;
    font-size: 10px;
    color: green;
    margin: 0;
}
#order.success{
    font-size: 25px;
}
table{
    border-collapse: separate;
    mso-cellspacing: 0;
}
td{
    text-align: center;
}
.currentUser{
    text-align: right;
    font-size: 20px;
    font-style: inherit;
}

.quantityOrder{
    max-width: 35px;
}

.outer {
    background-color: lightgreen;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 0;
    width: 270px;
    margin: auto;
    box-shadow: 5px 5px 5px darkgrey;
}
.location{
    position: absolute;
    right: 10px;
    top: 10px;
}


.header {

    background: cornflowerblue;
    color: #fff;
    padding: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 25px ;
    font-style: inherit;
}
.logotype{
    align-items: center;
    padding: 5px;
    height:50px;
    width:200px;
}
.footer{
    position: relative;
    margin-top: 80%; /* negative value of footer height */
    clear:both;
    background: cornflowerblue;
    color: #fff;
    padding: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 10px ;
    font-style: inherit;
}
.footerImg{
    align-items: center;
    padding: 5px;
    height:20px;
    width:20px;
}

.header p {
    margin: 3px 0 0 0;
    text-align: center;
    font-size: 20px;
    color: white;
}

.inner {
    padding: 20px;
}
input[type=text], input[type=password] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit] {
    color: white;
    padding:5px 15px;
    background:blue;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: auto;
}

.hidden{
    display: none;
}

p {
    font-family: colonna mt;
    font-size: 20px;
    margin: 0 5px 5px 5px;
}
