<table>
    <td>
        <tr>
            <th width="15%"><fmt:message key="clientList.table.head.id"/></th>
            <th width="15%"><fmt:message key="clientList.table.head.login"/></th>
            <th width="15%"><fmt:message key="clientList.table.head.budget"/></th>
            <th><fmt:message key="clientList.table.head.contact"/></th>
        </tr>
        <c:forEach var="client" items="${clientList}">
            <tr>
                <td width="15%">${client.getId()}</td>
                <td width="15%">${client.getLogin()}</td>
                <td width="15%">${client.getBudget()}</td>
                <td>${client.getContact()} </td>
                <td>
                    <form name="clientListForm" method="POST" action="controller">
                        <input type="hidden" name="command" value="blockClient" >
                        <input type="hidden" name="idDelete" value="${client.getId()}" >
                        <input class="blockButton" type="submit" name="blockButton" value="<fmt:message key="command.delete"/>">
                    </form>
                </td>
                <td>
                    <form name="priseListForm" method="POST" action="controller">
                        <input type="hidden" name="command" value="showOrder" >
                        <input type="hidden" name="idClient" value="${client.getId()}" >
                        <input class="showButton" type="submit" name="show" value="<fmt:message key="command.show.order"/>">
                    </form>
                </td>
            </tr>
        </c:forEach>
    </td>
</table>
