<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<script src="js/jquery.js"></script>
<script src="js/application.js"></script>
<link type="text/css" rel="stylesheet" href="../css/stylesheet.css "/>
<fmt:setLocale value="${locale}"/>
<fmt:setBundle basename="resources/content/pagecontent"/>

<%@ include file="/WEB-INF/jspf/header.jspf" %>
<%@ include file="/WEB-INF/jspf/locale.jspf" %>

