<form name="goodListForm" method="POST" action="controller">
    <input type="hidden" name="command" value="makeorder" >
    <table>
        <td>
            <tr>
                <th width="10%"><fmt:message key="priselist.table.head.name"/></th>
                <th width="5%"><fmt:message key="priselist.table.head.prise"/></th>
                <th width="5%"><fmt:message key="priselist.table.head.sale"/></th>
                <th width="5%"><fmt:message key="priselist.table.head.quantity"/></th>
                <th><fmt:message key="priselist.table.head.info"/></th>
                <th><fmt:message key="priselist.table.head.order"/></th>
            </tr>
            <c:forEach var="good" items="${priseList}">
                <tr>
                    <td width="10%">${good.getName()}</td>
                    <td width="5%">${good.getPrise()}</td>
                    <td width="5%">${good.getSale()}</td>
                    <td width="5%">${good.getQuantity()}</td>
                    <td>${good.getInfo()} </td>
                    <td><input class="quantityOrder" type="text" name="chooseCount_${good.getId()}" value="" pattern="[\d]{0,4}"></td>
                </tr>
            </c:forEach>
        </td>
    </table>
    <input type="submit" name="makeOrder" value="<fmt:message key="priselist.button.makeorder"/>">

</form>
<form name="orderListForm" method="POST" action="controller">
    <input type="hidden" name="command" value="showOrder" >
    <input type="hidden" name="idClient" value="${currentUser.getId()}" >
    <input class="showButton" type="submit" name="show" value="<fmt:message key="command.show.order"/>">
</form>
